.body-container {
  background-color: teal;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  margin: auto;
  height: 100vh;
  font-size: 18px;
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: transparent;
}

.upload-label {
  margin-top: 1rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.upload-label:hover .upload-text {
  color: #545677;
}

.upload-text {
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.input-wrapper,
.submit-wrapper {
  margin-top: 1.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-field {
  width: 20rem;
  margin: auto;
  padding: 0.75rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
}

.submit-button {
  width: 20rem;
  display: flex;
  padding: 0.75rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.35rem;
  color: white;
  background-color: #38b2ac;
  justify-content: center;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #2c7a7b;
}

.info-text {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 1.5rem;
}

.hidden {
  display: none;
}


